.player-list-container {
  display: grid;
  /* Адаптируем minmax под новую ширину карточки (280px) */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px; /* Немного увеличим отступ для лучшего вида */
  justify-items: center;
}

.player-card-link-wrapper {
  cursor: pointer;
  /* Убираем лишние тени, так как они теперь на самой карточке */
  transition: transform 0.2s ease-in-out;
}

.player-card-link-wrapper:hover {
  /* Эффект ховера теперь обрабатывается внутри CSS самой карточки */
  transform: none; 
}